@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative h-screen font-sans text-white bg-black;
    font-family: 'RFDewi', sans-serif;
  }
}
:root {
  --gap: 25px;
  --primary-clr: #fff;
  --accect-clr: #ae3c68;
}

@font-face {
  font-family: 'RFDewi';
  src: url('/fonts/RFDewiExpanded-Regular.woff') format('woff'), url('/fonts/RFDewiExpanded-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'RFDewi';
  src: url('/fonts/RFDewiExpanded-Bold.woff') format('woff'), url('/fonts/RFDewiExpanded-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
